.app-header {
  height: 80px;
  background-color: $clr8;
  position: fixed;
  width: 100vw;
  z-index: 10000;
  border: 1px solid $clr5;
  box-shadow: $op5;

  & .header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-end: 17px;

    & .home-btn {
      cursor: pointer;
      & .home-btn-link {
        display: flex;
        align-items: center;
        & img {
          width: 35px;
          height: 35px;
        }
        & h1 {
          color: $clr15;
          font-family: $txtBoldDefault;
          font-size: 1.25rem;
          padding: 0 5px;
        }
      }
    }

    & .search {
      cursor: pointer;
      & .tsearch {
        margin-left: 84px;
        background-color: aqua;
        width: 20px;
        height: 20px;
      }
    }

    & .user-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > * {
        &:hover {
          background-color: $clr8;
        }
        background-color: $clr8;
        border-radius: 21px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 43px;
        cursor: pointer;
      }

      & .become-host-btn {
        &:hover {
          background-color: $clr7;
        }
      }

      & .change-lang-btn {
        &:hover {
          background-color: $clr7;
        }
        & .lang-icon {
          height: 16px;
          fill: currentcolor;
          width: 33px;
        }
      }

      & .user-info-btn {
        &:hover {
          box-shadow: $op7;
        }
        width: 80px;
        border: 1px solid $clr5;
        & .humb-icon {
          fill: none;
          height: 17px;
          margin-left: 9px;
          width: 17px;
          stroke: currentcolor;
          stroke-width: 3;
          overflow: visible;
        }

        & .user-icon {
          height: 30px;
          width: 30px;
          fill: $clr3;
        }
      }
    }
  }
}
