.app-header {
  height: 80px;
  background-color: $clr8;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  z-index: 10000;
  border: 1px solid $clr5;
  box-shadow: $op5;

  & .header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .home-btn {
      cursor: pointer;
      & .home-btn-link {
        display: flex;
        align-items: center;
        & img {
          width: 35px;
          height: 35px;
        }
        & h1 {
          color: $clr15;
          font-family: $txtLogoDefault;
          font-size: 1.25rem;
          font-weight: lighter;
          padding-right: 2px;
        }
      }
    }

    & .search {
      margin-left: 100px;
      cursor: pointer;
      & .search-btn {
        width: 300px;
        background-color: $clr8;
        border: 1px solid $clr5;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;
        cursor: pointer;
        box-shadow: $op7;
        &:hover {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          transition: box-shadow 0.2s ease 0s;
        }
        & h4 {
          padding: 0 16px;
          font-weight: 500;
          font-size: 0.875rem;
        }
        & .el-button {
          width: 33px;
          height: 33px;
          & svg {
            display: block;
            fill: none;
            height: 12px;
            width: 12px;
            stroke: $clr7;
            stroke-width: 5.33333;
            overflow: visible;
          }
        }
      }
    }

    & .user-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > * {
        background-color: $clr8;
        border-radius: 21px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 43px;
        cursor: pointer;
      }

      & .become-host-btn {
        &:hover {
          background-color: $clr7;
        }
      }

      & .change-lang-btn {
        &:hover {
          background-color: $clr7;
        }
        & .lang-icon {
          height: 16px;
          fill: currentcolor;
          width: 33px;
        }
      }

      & .user-info-btn {
        &:hover {
          box-shadow: $op7;
        }
        width: 80px;
        border: 1px solid $clr5;
        & .humb-icon {
          fill: none;
          height: 17px;
          margin-left: 9px;
          width: 17px;
          stroke: currentcolor;
          stroke-width: 3;
          overflow: visible;
        }

        & .user-icon {
          height: 30px;
          width: 30px;
          fill: $clr3;
        }
      }
    }
  }
}
