.room-list ul {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 30px;
}

.room-list li {
  list-style: none;
  width: auto;
  // chang to auto when done on preview
  height: 370px;
}
