.room-list ul {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  column-gap: 25px;
  row-gap: 30px;
}

.room-list li {
  list-style: none;
  width: auto;
  // chang to auto when done on preview
  height: 370px;
}
