.room-preview {
    display: flex;
    flex-direction: column;
}

.room-preview .preview-img-section {
    position: relative;
}

.room-preview .preview-carousel {
    object-fit: cover;
    height: 250px;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.431) solid;
}

.room-preview .preview-like-btn {
    display: inline;
    position: absolute;
    top: 10px;
    right: 10px;
    fill: rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 24px;
    stroke: $clr7;
    stroke-width: 2;
    overflow: visible;
}

.room-preview .preview-reviews img {
    height: 15px;
    width: 15px;
}

// .room-preview .preview-details {
//     background-color: blue;
// }
