.home-page {
    & .main-hero img {
        height: 65vh;
        margin-bottom: 5px;
        object-fit: cover;
        margin-bottom: 100px;
    }
    & .destination-title {
        font-size: 2.625rem;
        margin-block-end: 0;
        margin-bottom: 3rem;
    }

    & .destination-navbar {
        margin-bottom: 5.9375rem;
        grid-template-columns: repeat(4, minmax(50px, 1fr));
    }
}
